<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DefaultDirectory" value="\\10.0.0.201\Spooktober" />
    <add key="ListOutputFilename" value="\\10.0.0.201\Spooktober\spooktober.html" />
  </appSettings>
</configuration>